@model SatoshisMarketplace.Web.Models.Product.ProductsViewModel
@{
    ViewData["Title"] = "Products Page";
}
<h2>Products</h2>
<hr />

<a asp-controller="Product" asp-action="CreateProduct" class="btn btn-outline-primary">Create Product</a>
<hr />

<h4>My Store</h4>
@if (Model.MyProducts != null && Model.MyProducts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col">Is Published</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model.MyProducts)
            {
                <tr>
                    <td>@prod.Id</td>
                    <td>@prod.Name</td>
                    <td>@prod.FirstPublication.ToString("yyyy.MM.dd HH:mm:ss")</td>
                    <td>@prod.IsListed</td>
                    <td>
                        <a asp-controller="Product" asp-action="View" asp-route-id="@prod.Id" class="btn btn-outline-primary">View</a>
                        <a asp-controller="Product" asp-action="ManageProduct" asp-route-id="@prod.Id" class="btn btn-outline-warning">ManageProduct</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="centered-text">No products created by you!</p>
}
<hr />

<h4>My Favorites</h4>
@if (Model.MyFavorites != null && Model.MyFavorites.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model.MyFavorites)
            {
                <tr>
                    <td>@prod.Id</td>
                    <td>@prod.Name</td>
                    <td>@prod.FirstPublication.ToString("yyyy.MM.dd HH:mm:ss")</td>
                    <td>
                        <a asp-controller="Product" asp-action="View" asp-route-id="@prod.Id" class="btn btn-outline-primary">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="centered-text">No products added to your favorites list!</p>
}
<hr />

<h4>My Purchases</h4>
@if (Model.MyPurchases != null && Model.MyPurchases.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model.MyPurchases)
            {
                <tr>
                    <td>@prod.Id</td>
                    <td>@prod.Name</td>
                    <td>@prod.FirstPublication.ToString("yyyy.MM.dd HH:mm:ss")</td>
                    <td>
                        <a asp-controller="Product" asp-action="View" asp-route-id="@prod.Id" class="btn btn-outline-primary">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="centered-text">No products purchased by you!</p>
}
<hr />